<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recicle suas pilhas e baterias de forma responsável. Encontre pontos de coleta e ajude a preservar o meio ambiente.">
    <link rel="icon" href="{% static 'icon/Logo.icon' %}" type="image/x-icon">
    <title>Recicla Pilhas - Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"> <!-- Conectando o CSS -->
    <link rel="stylesheet" href="{% static 'css/forms.css'%}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}" > <img src="{% static 'img/logo.png' %}" alt="Logo Recicla Pilhas" id="background-logo" > </a>
        <h1>Dê uma carga de responsabilidade ao meio ambiente</h1>
        <p>Recicle suas pilhas e baterias de forma consciente e ajude a preservar o meio ambiente.</p>
    </header>

    <h1>Cadastro de Ponto de Coleta</h1>
    {% if not request.session.usuario_id %}
        <button onclick="mostrarAlerta()">Cadastrar</button>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <label for="nome_empresa">Nome da Empresa:</label>
            <input type="text" id="nome_empresa" name="nome_empresa" required>

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" required>

            <label for="endereco">Descrição:</label>
            <input type="text" id="endereco" name="endereco" required>

            <label for="rua">Rua:</label>
            <input type="text" id="rua" name="rua" required>

            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" required>

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro" required>

            <label for="numero">Número:</label>
            <input type="text" id="numero" name="numero" required>

            <button type="submit">Cadastrar</button>
        </form>
    {% endif %}
    <footer>
        <p>&copy; 2024 Recicla Pilhas. Todos os direitos reservados.</p>
        <p><a href="mailto:contato@reciclapilhas.com">Contato</a> | <a href="#">Política de Privacidade</a></p>
    </footer>

    <script>
        function mostrarAlerta() {
            alert("Você precisa estar logado para cadastrar um ponto de coleta.");
            window.location.href = "{% url 'login' %}";  // Redireciona para a página de login
        }
    </script>     
</body>
</html>