<!DOCTYPE html>
{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recicle suas pilhas e baterias de forma responsável. Encontre pontos de coleta e ajude a preservar o meio ambiente.">
    <link rel="icon" href="{% static 'icon/Logo.ico' %}" type="image/x-icon">
    <title>Recicla Pilhas - Dê uma carga de responsabilidade ao meio ambiente</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/acessibilidade.css' %}">
    <script src="{% static 'javascript/acessibilidade.js' %}"></script>
</head>
<body>
    <header>
        <div id="acessibilidade-menu" class="acessibilidade-menu">
            <span>Acessibilidade</span>
            <div>
                <button id="diminuir-fonte" aria-label="Diminuir tamanho da fonte">
                    <span class="sr-only">Diminuir tamanho da fonte</span>
                    A-
                </button>
                <button id="normalizar-fonte" aria-label="Normalizar tamanho da fonte">
                    <span class="sr-only">Normalizar tamanho da fonte</span>
                    aA
                </button>
                <button id="aumentar-fonte" aria-label="Aumentar tamanho da fonte">
                    <span class="sr-only">Aumentar tamanho da fonte</span>
                    A+
                </button>
            </div>
            <button id="contraste" aria-label="Ativar/desativar modo de alto contraste">
                <img src="{% static 'icon/Contraste.svg' %}" alt="Ativar e desativar modo de alto contraste">
            </button>
            <button id="vlibras-button" aria-label="Ativar VLibras">
                <span class="sr-only">Ativar/desativar VLibras</span>
                <img src="{% static 'icon/VLibras.svg' %}" alt="Ativar e desativar VLibras">
            </button>
        </div>
        <img id="background-logo" src="{% static 'img/logo.png' %}" alt="Logo Recicla Pilhas" >
        <h1>Dê uma carga de responsabilidade ao meio ambiente</h1>
        <p>Recicle suas pilhas e baterias de forma consciente e ajude a preservar o meio ambiente.</p>
        <button id="cta-button">Encontre um ponto de coleta próximo</button>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'sobre' %}" alt="Direciona para página Sobre">Sobre</a></li>
            <li><a href="{% url 'cadastrar_ponto' %}" alt="Direciona para página de cadastro de pontos de coleta" >Ponto de Coleta</a></li>
            <li><a href="{% url 'cadastrar_usuario' %}" alt="Direciona para página de cadastro do usuário">Cadastro</a></li>
            <li><a href="{% url 'login' %}" alt="Direciona para página login">Login</a></li>
        </ul>
    </nav>
    <section id="benefits">
        <h2>Por que reciclar pilhas e baterias?</h2>
        <p>As pilhas e baterias contêm metais pesados que podem contaminar o solo e a água, afetando a saúde pública e o meio ambiente. Ao reciclá-las, você contribui para a economia circular e reduz os danos ambientais.</p>
    </section>

    <section id="impact">
        <h2>O impacto da reciclagem</h2>
        <ul id="lista">
            <li>Reduz a poluição do solo e das águas</li>
            <li>Recupera materiais valiosos como chumbo e lítio</li>
            <li>Evita riscos à saúde pública</li>
            <li>Contribui para a economia circular</li>
        </ul>
    </section>

    <section id="pontos-coleta">
        <h2>Pontos de Coleta</h2>
        <ul id="lista-pontos"></ul>
    </section>
    

    <footer>
        <p>&copy; 2024 Recicla Pilhas. Todos os direitos reservados.</p>
        <p><a href="mailto:contato@reciclapilhas.com">Contato</a> | <a href="#">Política de Privacidade</a></p>
    </footer>

    <script src="{% static 'javascript/script.js' %}"></script>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>
