<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recicle suas pilhas e baterias de forma responsável. Encontre pontos de coleta e ajude a preservar o meio ambiente.">
    <link rel="icon" href="./recursos/icon/Logo.ico" type="image/x-icon">
    <title>Recicla Pilhas - Dê uma carga de responsabilidade ao meio ambiente</title>
    <link rel="stylesheet" href="./css/styles.css"> <!-- Conectando o CSS -->
</head>
<body>
    <header>
        <img id="background-logo" src="./recursos/img/logo.png" alt="Logo Recicla Pilhas" >
        <h1>Dê uma carga de responsabilidade ao meio ambiente</h1>
        <p>Recicle suas pilhas e baterias de forma consciente e ajude a preservar o meio ambiente.</p>
        <button id="cta-button">Encontre um ponto de coleta próximo</button>
    </header>
    <nav>
        <ul>
            <li><a href="./pages/sobre.html" alt="Direciona para página Sobre">Sobre</a></li>
            <li><a href="./pages/cadastroPontoDeColeta.html" alt="Direciona para página de cadastro de pontos de coleta" >Ponto de Coleta</a></li>
            <li><a href="./pages/cadastroUsuario.html" alt="Direciona para página de cadastro do usuário">Cadastro</a></li>
            <li><a href="./pages/login.html" alt="Direciona para página login">Login</a></li>
        </ul>
    </nav>
    <section id="benefits">
        <h2>Por que reciclar pilhas e baterias?</h2>
        <p>As pilhas e baterias contêm metais pesados que podem contaminar o solo e a água, afetando a saúde pública e o meio ambiente. Ao reciclá-las, você contribui para a economia circular e reduz os danos ambientais.</p>
    </section>

    <section id="impact">
        <h2>O impacto da reciclagem</h2>
        <ul id="lista">
            <li>Reduz a poluição do solo e das águas</li>
            <li>Recupera materiais valiosos como chumbo e lítio</li>
            <li>Evita riscos à saúde pública</li>
            <li>Contribui para a economia circular</li>
        </ul>
    </section>

    <section id="collection-points">
        <h2>Encontre um ponto de coleta</h2>
        <p>Use nosso localizador de pontos de coleta e encontre o lugar mais próximo para descartar suas pilhas e baterias de maneira correta.</p>
        <div id="map"> <!-- O mapa será gerado aqui via JavaScript --> </div>
        
    </section>

    <footer>
        <p>&copy; 2024 Recicla Pilhas. Todos os direitos reservados.</p>
        <p><a href="mailto:contato@reciclapilhas.com">Contato</a> | <a href="#">Política de Privacidade</a></p>
    </footer>

    <script src="./javascript/script.js"></script> <!-- Conectando o JavaScript -->
</body>
</html>
