@import url('style.css');

/* Estilizando os campos do formulário */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    background-color: #fff;
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    width: 300px; /* Ajuste a largura conforme necessário */
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: left; /* Alinha o texto à esquerda */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos */
    justify-content: center; /* Alinha verticalmente */
    text-align: center;
    width: 100%;
    max-width: 400px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza na página */
    padding: 20px;
    background: white; /* Ajuste conforme necessário */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: #888; /* Cor do texto do placeholder */
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espaço entre os campos */
    width: 100%;
}


form label {
    display: inline-block;
    margin-right: 10px; /* Espaço entre a label e o input */
    width: 150px; /* Ajuste o tamanho das labels conforme necessário */
    text-align: right; /* Alinha as labels à direita */
}

form div {
    display: flex;
    align-items: center; /* Alinha a label e o input verticalmente */
    gap: 10px; /* Espaço entre os elementos */
}


