@import url('style.css');

/* Estilizando os campos do formulário */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    background-color: #fff;
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    width: 300px; /* Ajuste a largura conforme necessário */
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: left; /* Alinha o texto à esquerda */
}


/* Estilo atualizado para formulários */
form {
    display: flex;
    position: center;
    flex-direction: column;
    gap: 15px; /* Espaço entre os campos */
}

form label {
    display: inline-block;
    margin-right: 10px; /* Espaço entre a label e o input */
    width: 150px; /* Ajuste o tamanho das labels conforme necessário */
    text-align: right; /* Alinha as labels à direita */
}

form div {
    display: flex;
    align-items: center; /* Alinha a label e o input verticalmente */
    gap: 10px; /* Espaço entre os elementos */
}


