*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #FCC000;
    --secondary-color: #EBE267;
    --dark-color: #F29F05;
    --font-color: #171717;
    --backgrond-light: #fafafa;
    --destaque-color: #1C6CD3;
    --destaque-color-hover: #1B6FA3;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--backgrond-light);
    color: var(--font-color);
    line-height: 1.6;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

/* Estilo do Menu de Navegação */
nav {
    background-color: var(--dark-color);
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo dos Títulos e Parágrafos */
h1, h2 {
    color: var(--font-color);
    text-align: center;
}

p {
    text-align: center;
    margin: 10px auto;
    max-width: 800px;
}

/* Estilo do Header */
header {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 40px 20px;
    text-align: center;
}

#cta-button {
    background-color: var(--destaque-color);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

#cta-button:hover {
    background-color: var(--destaque-color-hover);
}

/* Seções */
section {
    padding: 20px;
    margin: 20px 0;
}

#benefits, #impact {
    background-color: #ecf0f1;
    padding: 40px 20px;
}

#lista {
    list-style-type: square;
    padding-left: 20px;
    max-width: 800px;
    margin: 0 auto;
}

cite {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}
#background-logo {
    margin: 0 auto;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 40px;
}

/* Estilo do Mapa */
#map {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    background-color: #bdc3c7;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    top: 12px;
    width: 100%;
}

footer a {
    color: var(--font-color);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}