@import url('style.css');

.team-member {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member h2 {
    margin-top: 0;
}

.team-member p {
    margin: 10px 0;
}